.navbar{
    display: flex;
    padding: 5px 100px;
    margin: 0px px auto;
    backdrop-filter: blur(30px);
    border-radius: 30px 30px 30px 30px;
    border: 2px solid black;
}
.logo{
    width: 100px;
    border-radius: 60%;
}
.list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    list-style: none;
}
.list li{
    margin-right: 25px;
    font-weight: bold;
    font-size: 17px;
    color: white;
}
.list li a{
    color: rgb(0, 0, 0);
    text-decoration: double;
    transition: 0.5s;
    padding: 2px 5px;
}
.list li a:hover{
    background-color: #96CEB4;
    border-radius: 15%;
    transition: 0.5s;
}

.apcoes{
    backdrop-filter: blur(30px);
    padding: 15px 15px;
    border-radius: 30px 30px 30px 30px;
}

.header{
    justify-content: center;
    align-items: flex-start;
    display: flex;
    padding: 50px;
}

.carosel1{
    justify-content: center;
    margin: 10px 60px;
    border-radius: 30px;
}

.carosel1 img{
    border-radius: 30px;
    height: 600px;
}

.domingo{
    background-color: #96CEB4;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh auto;
    backdrop-filter: blur(30px);
    margin: 20px 100px;
    border-radius: 20px;
}

.segunda{
    align-items: center;
    display: flex;
    background-color: #FFEEAD;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh auto;
    backdrop-filter: blur(30px);
    margin: 20px 100px;
    border-radius: 20px;
}

.terça{
    align-items: center;
    display: flex;
    background-color: #FFAD60;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh auto;
    backdrop-filter: blur(30px);
    margin: 20px 100px;
    border-radius: 20px;
}

.quarta{
    align-items: center;
    display: flex;
    background-color: #A02334;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh auto;
    backdrop-filter: blur(30px);
    margin: 20px 100px;
    border-radius: 20px;
}

.quinta{
    align-items: center;
    display: flex;
    background-color: #96CEB4;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh auto;
    backdrop-filter: blur(30px);
    margin: 20px 100px;
    border-radius: 20px;
}

.sexta{
    align-items: center;
    display: flex;
    background-color: #FFEEAD;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh auto;
    backdrop-filter: blur(30px);
    margin: 20px 100px;
    border-radius: 20px;
}

.sabado{
    align-items: center;
    display: flex;
    background-color: #FFAD60;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh auto;
    backdrop-filter: blur(30px);
    margin: 20px 100px;
    border-radius: 20px;
}

.card{
    background-color: aliceblue;
    align-items: center;
    display: flex;
    backdrop-filter: blur(30px);
    height: 150px auto;
    margin: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 100px;
}


/*footer*/
.footer{
    height: 60dvh auto;
    background-color: rgb(54, 54, 54);
}


/*iconesbootestrap*/
.bi-brightness-high-fill{
    font-size: 90px;
}

.bi-cloud-sun-fill{
    font-size: 90px;
}

.bi-cloud-fog2-fill{
    font-size: 90px;
}

.bi-cloudy-fill{
    font-size: 90px;
}

.bi-cloud-snow-fill{
    font-size: 90px;
}

.bi-cloud-rain-fill{
    font-size: 90px;
}

.bi-cloud-lightning-rain-fill{
    font-size: 90px;
}

.ok {
border: 2px solid #96CEB4;
}

.erro {
border: 2px solid #A02334;
}

.bi-person-circle{
    font-size: 90px;
}