.navbar{
    display: flex;
    padding: 5px 100px;
    margin: 0px px auto;
    backdrop-filter: blur(30px);
    border-radius: 30px 30px 30px 30px;
    border: 2px solid black;
}
.logo{
    width: 100px;
    border-radius: 60%;
}
.list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    list-style: none;
}
.list li{
    margin-right: 25px;
    font-weight: bold;
    font-size: 17px;
    color: white;
}
.list li a{
    color: rgb(0, 0, 0);
    text-decoration: double;
    transition: 0.5s;
    padding: 2px 5px;
}
.list li a:hover{
    background-color: #96CEB4;
    border-radius: 15%;
    transition: 0.5s;
}


.center1 img{
    transition: all 1.5s ease;
}

.center1:hover img{
    transform: scale(1.1);
}

.center2 img{
    transition: all 1.5s ease;
}

.center2:hover img{
    transform: scale(1.3);
}





/*footer*/
.footer{
    height: 60dvh auto;
    background-color: rgb(54, 54, 54);
}


.image-container {
    position: relative;
    display: inline-block; 
}

.text-overlay {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%); 
    color: rgb(0, 0, 0); 
    padding: 10px; 
    z-index: 1;
}

.image-container img {
    display: block; 
    width: 100%; 
    height: auto; 
}

.bi-person-circle{
    font-size: 90px;
}

.ok {
border: 2px solid #96CEB4;
}

.erro {
border: 2px solid #A02334;
}