
.navbar{
    display: flex;
    padding: 5px 100px;
    margin: 0px px auto;
    backdrop-filter: blur(30px);
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
    justify-content: center;
    align-items: first baseline;
}
.logo{
    width: 100px;
    border-radius: 60%;
}
.list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    list-style: none;
}
.list li{
    margin-right: 25px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.list li a{
    color: rgb(0, 0, 0);
    text-decoration: double;
    transition: 0.5s;
    padding: 2px 5px;
}
.list li a:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 15%;
    transition: 0.5s;
}

.apcoes{
    backdrop-filter: blur(30px);
    padding: 15px 15px;
    border-radius: 30px 30px 30px 30px;
}

.header{
    height: 70dvh auto;
    background-image: url(../imgs/index/pexels-minan1398-1230157.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 15px 15px #999999;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    padding: 50px;
}

.hsecao1header{
    justify-content: center;
    align-items: center;
    display: flex;
}

.nossamissao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: grid;
    gap: 20%;
}


.secao1{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao1card{
    background-color: #A02334;
    padding: 10px 60px;
    height: 40dvh;
    border-radius: 30px 30px 30px 30px;
}



/*seção2*/
.secao2{
    height: 110dvh auto;
}

.sec2col4{
    background-color: #FFAD60;
    height: 80dvh auto;
    border-radius: 30px 30px 30px 30px;
    margin: 40px;
}

.sec2col4 h3{
    font-size: 20px;
    padding: 0px 30px;
}

.sec2col6{
    height: 80dvh auto;
    border-radius: 30px 30px 30px 30px;
    margin: 30px 50px;
    padding: px;
}


.carousel{
    padding: 30px;
}
/*seção2*/

.sobrenos{
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0px 15px 15px #999999;
}

.juntese{
    justify-content: center;
    align-items: center;
    display: flex;
}

/*-------------HOME----------------------------*/





/*footer*/
.footer{
    height: 60dvh auto;
    background-color: rgb(54, 54, 54);
}


.bi-person-circle{
    font-size: 90px;
}

.ok {
border: 2px solid #96CEB4;
}

.erro {
border: 2px solid #A02334;
}